<div class="container">

  <div class="card-container">
    <%= @argonautes.size %>
    <% if flash[:alert] %>
      <div class="alert"><%= flash[:alert] %></div>
    <% end %>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>


    <div class="card-captain">
      <% @captains.each do |argonaute| %>
        <p> <%= argonaute.name %> </p>
      <% end %>

    </div>


    <div class="form-argonaute">
      <div class="form-wrapper">
          <%= simple_form_for @argonaute, url: argonautes_path(@argonaute), method: :post, remote: true do |f| %>
          <%= f.input :name, as: :string, required: true, placeholder:"Nom de l'argonaute", label: "Nom" %>
          <%= f.input :half_god, label: "Demi-dieu ?" %>
          <%= f.input :notes, as: :string, required: false, placeholder:"note sur l'argonaute", label: "Note" %>
          <%= f.button :submit, "Aller Hop! Dans l'Argo!", class: "button-form", data: {toggle: "modal", target: "#staticBackdrop"} %>
          <% end %>
      </div>
    </div>

    <div class="container-cards">
      <div class="col-md-4">

        <% @half_gods.each do |argonaute| %>
          <p> <%= argonaute.name %> </p>
        <% end %>

      </div>

      <div class="col-md-4">
        <% @humans.each_with_index do |argonaute, index| %>
          <%if index.even? %>
           <p> <%= argonaute.name %> </p>
          <% end %>
        <% end %>
      </div>

      <div class="col-md-4">
        <% @humans.each_with_index do |argonaute, index| %>
          <%if index.odd? %>
            <p> <%= argonaute.name %> </p>
          <% end %>
        <% end %>
      </div>

    </div>

  </div>


</div>
